html,
body {
  height: 100%;
  margin: 0;
  font-family: "Arial Black", sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
}

form {
  width: 35vw;
}

select {
  background: #0ff0;
}

.container {
  margin: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
}
.sides {
  animation: 0.7s curtain cubic-bezier(0.86, 0, 0.07, 1) 0.4s both;

  display: grid;
  grid-template-columns: 50vw 50vw;
}

@keyframes curtain {
  0% {
    grid-gap: 100vw;
  }

  100% {
    grid-gap: 0;
  }
}

.intro {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.sides {
  position: relative;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1rem;
}

.house {
  background-color: #dcc9a1;
  color: #534325;
}

.etf {
  background-color: #1b636f;
  color: #ffffff;
  flex-direction: column-reverse;
}

.etf label,
.etf input {
  color: #ffffff;
}

.name {
  margin: 0.3em;
}

.emoji {
  font-size: 30vh;
}

@media screen and (max-width: 1080px) {
  h2{
    font-size: 2rem;
  }
}
@media screen and (max-width: 850px) {
  .emoji {
    font-size: 20vh;
  }  
}
@media screen and (max-width: 500px) {
  .emoji {
    font-size: 10vh;
  }  
  h2{
    font-size: 1.3rem;
  }
}
.versus {
  position: absolute;
  width: 8vw;
  height: 8vw;
  background: #ffffff;
  border-radius: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.4vw;
  color: #123456;
  border-width: 10px;
  border-style: solid;
  border-color: #1b636f #dcc9a1 #dcc9a1 #1b636f;
  transform: rotate(-45deg);
}

.versus span {
  transform: rotate(35deg);
}
