:root {
  --primary-one: #959595;
  --primary-one-light: #bebebe;
  --primary-two: #ffe74c;
  --primary-three: #69e062;
  --secondary-one: #000000;
  --secondary-one-light: #9e9fa2;
  --secondary-two: #5c5c5c;
}

:local(.inputWrapper) {
  padding: 0 0 1em 0;
}

:local(label) {
  display: block;
  color: #000000;
}

:local(.inputIcon) {
  position: absolute;
  width: 2em;
  margin-left: -0.5em;
  text-align: center;
  line-height: normal;
  color: var(--secondary-one-light);
  margin-top: 0.7em;
}

:local(input) {
  width: 100%;
  text-indent: 1em;
  padding: 0.7em;
  margin: 0 0 0.2em 0;
  border: none;
  border-bottom: 1px solid var(--secondary-one);
  background: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1rem;
}

:local(input:focus) {
  border: 1px solid var(--primary-one);
}

:local(.inputSection) {
  padding: 0.1em 0 0.1em 0;
}

:local(select) {
  width: 100%;
  padding: 0.7em;
  margin: 0 0 0.2em 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid var(--secondary-one);
}

:local(.subtext) {
  margin-top: 2pt;
}

:local(.results) {
  display: table;
  width: 100%;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  margin: 1em 0 0 0;
}

:local(.resultRow) {
  display: table-row;
  background-color: rgba(0, 0, 0, 0);
}

:local(.resultLabel) {
  display: table-cell;
  text-align: left;
  padding: 1em 0 1em 1em;
}

:local(.resultValue) {
  display: table-cell;
  text-align: right;
  padding: 1em 1em 1em 0;
}

:local(.totalPayment) {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}

:local(button) {
  background-color: var(--secondary-one);
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1.5rem;
}

:local(.advanced) {
  padding-top: 1em;
}

:local(.advancedButton) {
  text-align: center;
}

:local(.schedule h3) {
  text-align: center;
  color: var(--secondary-one);
}

:local(.paymentList) {
  display: table;
  padding: 0;
  width: 100%;
  font-size: 14px;
  color: var(--secondary-one-light);
  text-align: center;
}

:local(.paymentHeader) {
  color: var(--secondary-one);
}
:local(.paymentHeader div) {
  border-bottom: 1px solid var(--secondary-one-light);
}

:local(.paymentRow) {
  display: table-row;
}

:local(.paymentRowYear) {
  color: var(--secondary-one);
}

:local(.paymentRow div) {
  display: table-cell;
  padding: 0.2em 0;
}

:local(.versionInfo) {
  text-align: center;
  font-size: 9pt;
}

:local(.versionInfo a) {
  color: var(--primary-one);
  text-decoration: none;
}
